<form action="<%= users_url %>" method="POST">
    <label for="email">Email: </label>
    <input type="text" id="email" name="user[email]" placeholder="email">
    <label for="password">Password: </label>
    <input type="password" id="password" name="user[password]" placeholder="password">
    <input type="submit" value="Create User">

</form>